{% extends 'base.html' %}


{% block navbbar %}

{% include 'navbar_logedin.html' %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
	<h1 class="greeting-meesage">Edit Category:</h1>

<div class="content-container">
	<form method="POST" class="form">
		{{ form.hidden_tag() }}
		{{ form.title.label(class="form-entry") }}
		{{ form.title(class="post-form-input form-control") }}
        <br>
		{{ form.submit(class="btn btn-secondary user-form-btn") }}
		<a href="{{url_for('categories')}}" class="btn btn-secondary user-form-btn">Back to Posts</a>
		
        <br><br>
        
	</form>
</div>



{% endblock %}