{% extends 'base.html' %}


{% block navbbar %}

{% include 'navbar_logedin.html' %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<h1 class="greeting-message">Categories: </h1>

<a href="{{url_for('add_category')}}" class="btn btn-secondary user-form-btn new-category-btn">Add New Category</a>
<div class="search-container">
	<form method="POST" class="form">
		{{ form.hidden_tag() }}
		{{ form.title.label(class="form-entry") }}
		{{ form.title(class="form-control form-input form-search") }}
		{{ form.submit(class="btn btn-secondary submit-btn user-form-btn") }}
   


	</form>
</div>


<ul class="list-container">
  {%for category in categories %}
  <li class="list-container-item">
    {% if category.title == "Uncategorized" %}
      {% else %}
    <h3 class="list-text">{{category.title}}</h3>
    <br>
    
    <a href="{{url_for('edit_category', id = category.id)}}" class="btn btn-outline-secondary btn-sm">Edit Category</a>
    <a href="{{url_for('delete_category', id = category.id)}}" class="btn btn-outline-danger btn-sm">Delete Category</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>














{% endblock %}