
</header> 


<header>

      <div >
        <nav class="container container-flex">
            <ul>
                <li><a href="{{url_for('add_post')}}" class="nav-bar-list-link" class="nav-bar-list-link">Create New Post</a></li>
                <li><a href="{{url_for('posts')}}" class="nav-bar-list-link">Posts</a></li>
                <li><a href="{{url_for('categories')}}" class="nav-bar-list-link">Categories</a></li>
                <li><a href="{{url_for('logout')}}" class="nav-bar-list-link">Logout</a></li>



            </ul>
        </nav>
      </div> <!-- / .container -->



</header> 

