{% extends 'base.html' %}


{% block navbbar %}

{% include 'navbar_logedin.html' %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<h1 class="greeting-message">Categories: </h1>
<br>

<div class="search-container">
	<form method="POST" class="form">
		{{ form.hidden_tag() }}
		{{ form.title.label(class="form-entry") }}
		{{ form.title(class="form-control form-input form-search") }}


		<br/>
		{{ form.submit(class="btn btn-secondary user-form-btn search-btn") }}
    <a href="{{url_for('posts')}}" class="btn btn-secondary user-form-btn search-btn">Clear Search</a>


	</form>
</div>


{% for post in posts %}


  <div class="content-container">
    {% if post.category_title == "" %}
      <h1>{{post.title}}</h1>
      <p class="post-data">{{post.author}} | Added on: {{post.date_added}} | Category: Uncategorized</p> 

      <p>{{post.content}} </p>
    
      <a href="{{url_for('edit_post', id = post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
      <a href="{{url_for('delete_post', id = post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>
      {% else %}
      <h1>{{post.title}}</h1>
      <p  class="post-data">{{post.author}} | Added on: {{post.date_added}} | Category: {{post.category_title}}</p> 
      <p>{{post.content}} </p>
      <a href="{{url_for('edit_post', id = post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
      <a href="{{url_for('delete_post', id = post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>
      {% endif %}
  </div>



{% endfor %}


{% endblock %}